


@{
    ViewBag.Title = "create";
}

<h2>create</h2>
<form action="SaveData">
    <label class="col-md-2">ID</label>
    <div class="col-md-4">
        <input type="text" name="id" class="form-control" />
    </div>

    <label class="col-md-2">Name</label>
    <div class="col-md-4">
        <input type="text" name="name" class="form-control" />
    </div>

    <label class="col-md-2">Address</label>
    <div class="col-md-4">
        <input type="text" name="address" class="form-control" />
    </div>

    <input type="submit" name="submit" class="submitButton" />
</form>


